{{template "top" .}}

<div class="container">
    <div class="row">
        <div class="col">
            <p><a href="http://localhost:8080/" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Home</a></p>
            <p><a href="http://localhost:8080/about" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">About</a></p>
            <h1>this is home page</h1>
            <h1>This is albin {{ .title }}</h1>
        </div>
    </div>
</div>   
{{template "bottom" .}}